<div class="head">

  <h1>Welcome {{a}} ! </h1>
  
  <div class="center">
  
  Name : <input type="text" [(ngModel)]="a"> <br/> <br/>
  Email : <input type="text" [(ngModel)]="b"> <br/> <br/>
  <article>
      <h2><span>Select a Car:</span></h2>
      <select (change)="selectChangeHandler($event)">
          <option value="">None</option>
          <option value="	25700000">	Mercedes-Benz</option>
          <option value="6000000">Tesla</option>
          <option value="12500000">BMW</option>
          <option value="17500000">	Audi</option>
          <option value="22500000">Lamborghini</option>
      </select>
  </article>
  <br/> <br/>
  </div>
  <div class="next">
  <h3>Your Name :{{a | uppercase}}</h3>
  <h3>Your Email :{{b | lowercase}}</h3>
  <h3>CAR Price :{{selectedDay | currency :'INR'}}</h3>
  
  </div>
  
  </div>